.section-activity-info {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
                   
    .activity-info {
        width: 45%;
        margin-top: 40px;

        >h5 {
            margin: 20px 0;
        }

        >ol {
            padding-left: 20px;
            list-style-type: decimal;
            font-size: 16px;
            color: #564A41;
            line-height: 1.5;

            ul {
                list-style-type: disc;
                padding-left: 20px;
            }
        }
    }

    .activity-reservation {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;

        h4,
        h5 {
            padding-left: 10px;
        }

        .session {
            width: 100%;
            background-color: #FFE2BB;
            border-radius: 10px;
            padding: 20px 0;
        }

        .date {
            display: flex;
            justify-content: flex-start;
            gap: 40px;

            @media (max-width: $md) {
                flex-direction: column;
                gap: 20px;
              }

              >p{
                @media (max-width: $md) {
                    padding-left: 10px;
                  }
              }
    

        }

        .session-time {
            display: flex;
            flex-direction: column;

            .time {
                display: flex;
                justify-content: flex-start;
                gap: 40px;
                padding-left: 10px;
                margin-top: 20px;

                @media (max-width: $sm) {
                    flex-direction: column;
                    gap: 10px;
                  }

                >button {
                    width: 50%;
                    background-color: #FFFBF6;
                    font-size: 16px;
                    color: #564A41;
                    border-radius: $btnBR;
                    padding: 15px 0;
                    border: 1px solid #A9A8A8;
                    cursor: pointer;

                    @media (max-width: $sm) {
                        width: 70%;
                      }

                    &:hover {
                        background-color: #BE1A0E;
                        color: white;
                    }
                }
            }

        }

        .num {
            display: flex;
            justify-content: space-between;

            
            @media (max-width: $md) {
                flex-direction: column;
              }


            .amount-button {
                display: flex;
                justify-content: center;
                gap: 15px;

                @media (max-width: $md) {
                    justify-content: flex-start;
                    margin-top: 20px;
                    padding-left: 10px;
                }

                @media (max-width: $sm) {
                    gap: 10px;
                  }

                >button {
                    border-radius: 50%;
                    background-color: transparent;
                    cursor: pointer;
                    border: rgba(177, 36, 26, 1) 1px solid;
                    color: rgba(177, 36, 26, 1);
                    width: 28px;
                    height: 28px;
                    font-size: 14px;
                    text-align: center;
                }
            }
        }

        .total-price {
            display: flex;
            justify-content: space-between;

            @media (max-width: $md) {
                flex-direction: column;
            }

            >p{
                margin-top: 20px;
                padding-left: 10px;

            }
        }

        >hr {
            width: 100%;
            border: 1px dashed #A9A8A8;
        }

        >.btn {
            width: 80%;
            margin: 0 auto;
            font-size: 16px;
            padding: 15px 25px;

            >a {
                font-family: "Noto Serif HK", serif;
                font-size: 16px;
                color: white;
            }
        }
    }
}

.section-activity-notice {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;

    h4,
    h5 {
        padding-left: 10px;
    }

    h5 {
        margin: 20px 0;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
        font-size: 16px;
        color: #564A41;
        line-height: 1.5;
    }

    .activity-notice {
        width: 100%;
        background-color: #FFE2BB;
        border-radius: 10px;
        padding: 20px 0;
        margin-top: 40px;
    }

    .activity-notice-info {
        display: flex;
        justify-content: space-between;

        .know-and-use {
            width: 45%;
        }

        .cancel-and-map {
            width: 45%;

            iframe {
                width: 100%;
                margin-top: 20px;
                border-radius: 10px;
            }
        }

    }
}