
.section-activity-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin: 40px 0;

    .activity-banner {
        width: 90%;
        background-image: url('@/assets/pic/activity/activity_banner.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        padding: 10% 0;

        >h1 {
            text-align: center;
            margin: auto;
            color: white;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.9);
        }
    }
}

.section-activity-nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;

    @media (max-width: $lg) {
        flex-direction: column;
      }
   

    .activity-category {
        width: 65%;
        display: flex;
        flex-direction: column;

        @media (max-width: $lg) {
            width: 100%;
          }
        

        .register {
            display: flex;
            gap:3%;
        }

        .category {
            display: flex;
            gap: 3%;
            margin-top: 20px;
        }

        .default-status,
        .default-type{
            width: 110px;
            border: 1px solid #564A41;
            border-radius: 20px;
            background-color: white;
            padding: 5px 0;
            cursor: pointer;
          }

        button {
            border: 0;
            background-color: #FFFBF6;
            cursor: pointer;

            >p{
                font-family: "Noto Serif HK", serif;
                font-size: clamp(16px, 1.562vw, 18px);
            }
        }
    }

    .search-filter {
        width: 45%;
        display: flex;
        justify-content:flex-end;
        gap: 10%;
        align-items: flex-end;
        position: relative;

        @media (max-width: $lg) {
            justify-content: flex-start;
            margin-top: 20px;
            width: 100%;
          }

        .search-box {
            width: 60%;
            position: relative;
            display: flex;
            align-items: center;

            >img {
                width: 28px;
                position: absolute;
                left: 10px;
            }

            >input {
                width: 100%;
                border: 1px solid #564A41;
                border-radius: 20px;
                background-color: white;
                padding: 12px 0px 12px 50px;
            }

            >i{
                width: 25px;
                position: absolute;
                right: 0px;
                color:#564A41;
            }

        }

        >button {
            width: 25%;
            cursor: pointer;
            border: 1px solid #564A41;
            border-radius: 30px;
            background-color: white;
            padding: 10px 10px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;

            >p{
                display: flex;
                font-family: "Noto Serif HK", serif;
                font-optical-sizing: auto;
                font-style: normal;
                font-size: 16px;
                color: #564A41;
            }


            >img {
                width: 25px;
            }

        }

    }
}

.section-activity {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap: 5%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;

    @media (max-width: $lg) {
        justify-content:space-between;
          }

          @media (max-width: $sm) {
            justify-content:center;
          }

    .activity-card {
        width: 30%;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 30px;

        @media (max-width: $lg) {
            width: 40%;
          }

          @media (max-width: $sm) {
            width: 70%;
          }
        .card-pic {
            aspect-ratio: 4/3;
            border-radius: 10px;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .card-title,
        .card-date,
        .card-time1,
        .card-time2,
        .card-loc,
        .card-price {
            font-size: 16px;
            padding-top: 15px;
            text-align: left;

            @media (max-width: $md) {
                padding-top: 10px;
              }
        }

        .card-loc{

            >img{
            width: 25px;
            height: 25px;
            padding-right: 5px;
            }
        }
    }
    
}

