.cart-container {
    width: 90%;
    margin: auto;

    .cart-choose {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background: #ffffff;
        border-radius: 20px;
        border: 1px solid #828282;
        padding: 0 30px;
        margin: 40px 0 30px 0;
        object-fit: cover;



        .choose-all {
            display: flex;
            align-items: center;

            input {
                width: 20px;
                height: 20px;
                margin: 0;
                cursor: pointer;
            }

            h5 {
                padding: 0 20px;
            }

        }

        .delete-all {
            button {
                display: flex;
                align-items: center;
                background-color: transparent;
                border: none;
                cursor: pointer;

                h5 {
                    padding: 0 5px;
                }
            }


        }
    }

    .card-list {
        .disc-line {
            display: inline-block;
            width: 100%;
            height: 1px;
            background-color: #828282;
            margin-bottom: 20px;
        }

        .card {
            display: flex;
            align-items: center;
            height: 240px;

            background: #ffffff;
            border-radius: 20px;
            border: 1px solid #828282;
            padding: 0 30px;
            margin-bottom: 20px;

            input {
                width: 20px;
                height: 20px;
                margin: 0 20px 0 0;
                cursor: pointer;
            }

            .prod-detail {
                display: flex;
                align-items: center;
                // margin: 0 400px 0 20px;
                width: 60%;

                .prod {
                    width: 180px;
                    height: 180px;
                    border-radius: 20px;
                    margin-right: 20px;

                }

                .info {
                    h5 {
                        margin-bottom: 16px;

                    }

                    p {
                        font-weight: 500;
                    }
                }
            }

            .amount {
                display: flex;
                align-items: center;
                width: 30%;

                p {
                    padding: 0 20px;
                    font-weight: 600;
                }

                button {
                    margin: 0 10px;
                }

                span {
                    color: #564a41;
                    font-weight: 600;
                }
            }

            .price {
                font-weight: bold;
                padding: 10px;
            }

            .delete {
                button {
                    background-color: transparent;
                    border: none;

                    img {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .total-money {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        padding: 0 20px;

        h3 {
            font-weight: 600;
        }

        p {
            font-size: 24px;
        }
    }

    .checkout {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px 0;

        .checkout-link {
            button {
                background-color: transparent;
                border: none;
                background: #be1a0e;
                border-radius: 20px;
                width: 130px;
                height: 50px;
                cursor: pointer;
                color: #ffffff;
                font-size: 16px;

            }
        }
    }

    @media screen and (min-width: $md) and (max-width: $lg) {
        .card-list {
            .card {

                .prod-detail {
                    display: flex;
                    align-items: center;
                    width: 90%;

                    .prod {
                        width: 40%;
                        height: auto;
                        object-fit: contain;
                        border-radius: 10px;
                        margin-right: 20px;

                    }

                    .info {
                        h5 {
                            font-size: 16px;

                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }

                .amount {
                    display: flex;

                    align-items: center;
                    width: 30%;

                    p {
                        padding: 0 20px;
                        font-weight: 600;
                    }

                    button {
                        margin: 0 10px;
                    }

                    span {
                        color: #564a41;
                        font-weight: 600;
                    }
                }

                .price {
                    font-weight: bold;
                    padding: 10px;
                }

                .delete {
                    button {
                        background-color: transparent;
                        border: none;

                        img {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: $md) {
        .card-list {
            .card {
                display: flex;
                align-items: center;
                height: 300px;
                flex-wrap: wrap;

                input {
                    width: 16px;
                    height: 16px;
                    // width: 20%;
                }

                .prod-detail {
                    display: flex;
                    align-items: center;
                    // margin: 0 400px 0 20px;
                    width: 90%;

                    .prod {
                        width: 40%;
                        height: auto;
                        object-fit: contain;
                        border-radius: 10px;
                        margin-right: 20px;

                    }

                    .info {
                        h5 {
                            margin-bottom: 16px;
                            font-size: 18px;

                        }

                        p {
                            font-weight: 500;
                        }
                    }
                }

                .amount {
                    display: flex;
                    align-items: center;
                    width: 60%;

                    p {
                        padding: 0 15px;
                    }
                }

                .price {
                    padding: 10px;
                }
            }
        }
    }

}