.login-box {
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
    // display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgba(71, 69, 69, 0.5);
    .login-container {
        width: 36%;
        min-width: 384px;
        margin: auto;
        .login-wrap {
            margin-top: 9%;
            position: relative;
            border-radius: 30px;
            background-color: rgba(190, 26, 14, .8);
                border: 15px solid rgba(190, 26, 14, .8);  
            .link {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                .login {
                    border: 1px solid #CCC5B8;
                    padding: 10px 0;
                    width: 50%;
                    text-align: center;
                    background-color: #FAF8F4;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    font-size: 18px;
                    color: #564A41;
                    font-family: 'Noto Serif HK', serif;
                    cursor: pointer;
                }
                .register {
                    padding: 10px 0;
                    width: 50%;
                    text-align: center;
                    border: 1px solid #CCC5B8;
                    border-left: none;
                    color: #C5B09E;
                    background-color: #F9F1E5;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    font-size: 18px;
                    font-family: 'Noto Serif HK', serif;
                    cursor: pointer;
                } 
            }
            .login-frame {
                background-color: #FAF8F4;
                padding: 53px 0;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                .input-field {
                    .content-container {
                        width: 80%;
                        margin: auto;
                        .login-input {
                            display: flex;
                            flex-direction: column;
                            gap: 45px;
                            .email {
                                height: 40px;
                                width: calc(100% - 18px);
                                padding-left: 15px;
                                background-color: #F9F1E5;
                                border: 1px solid #AE8461;
                                border-radius: 5px;
                            }
                            .email:focus {
                                outline: none;
                            }
                            .email::placeholder {
                                color: #AAAAAA;
                            }
                            .input-icon {
                                position: relative;
                                .password {
                                height: 40px;
                                width: calc(100% - 18px);
                                padding-left: 15px;
                                background-color: #F9F1E5;
                                border: 1px solid #AE8461;
                                border-radius: 5px;
                                }
                                .password:focus {
                                    outline: none;
                                }
                                .password::placeholder {
                                    color: #AAAAAA;
                                }
                                .eyes {
                                    position: absolute;
                                    right: 8px;
                                    top: 10px;
                                    width: 25px;
                                    > img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        .forget-login-btn {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .forget {
                                font-size: 14px;
                                color: #828282;
                                margin-left: auto;
                                line-height: 3;
                                cursor: pointer;
                                background-color: #FAF8F4;
                                border: none;
                                font-family: 'Noto Serif HK', serif;
                            }
                            .forget:hover {
                                color: #AAAAAA;
                            }
                            .btn {
                                width: 80px;
                                margin-left: 40%;
                                font-family: 'Noto Serif HK', serif;
                                border: 1px solid #BE1A0E;
                                transition: .4s;
                            }
                            .btn:hover {
                                border: 1px solid #BE1A0E;
                                background-color: #fff;
                                color: #BE1A0E;
                            }
                        }
                        .quick {
                            text-align: center;
                            font-size: 14px;
                            line-height: 7;
                            position: relative;
                        }
                        .quick::after {
                            content: "";
                            position: absolute;
                            border-top: 1px solid #564A41;
                            width: 20%;
                            bottom: 50%;
                            right: 3%;
                        }
                        .quick::before {
                            content: "";
                            position: absolute;
                            border-top: 1px solid #564A41;
                            width: 20%;
                            bottom: 50%;
                            left: 2%;
                        }
                        .login-icon {
                            display: flex;
                            gap: 10px;
                            justify-content: center;
                            .login-goole {
                                width: 30px;
                                display: block;
                                > img {
                                    width: 100%;
                                }
                            }
                            .login-facebook {
                                width: 30px;
                                display: block;
                                > img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .x {
                    position: absolute;
                    top: -30px;
                    right: -35px;
                    display: block;
                    width: 45px;
                    cursor: pointer;
                    > img {
                        width: 100%;
                    }
                }
            }
        
        }
    }
}
.forget-box {
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
    // display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgba(71, 69, 69, 0.5);
    .login-container {
        .login-wrap {
            .login-frame {
                .input-field {
                    .content-container {
                        .login-input {
                            .txt {
                                font-size: 20px;
                            }
                            .forget-input {
                                height: 40px;
                                width: calc(100% - 20px);
                                padding-left: 15px;
                                background-color: #F9F1E5;
                                border: 1px solid #AE8461;
                                border-radius: 5px;
                            }
                            .forget-input::placeholder {
                                color: #AAAAAA;
                            }
                        }
                        .previous-page-verify {
                            display: flex;
                            justify-content: center;
                            gap: 40px;
                            margin: 50px 0 0;
                            .previous-page-btn {
                                background-color: #E7BD86;
                                border: 1px solid #AF8B5C;
                                color: #3F3F3F;
                                font-family: 'Noto Serif HK', serif;
                                padding: 8px 20px;
                                border-radius: 20px;
                            }
                            .previous-page-btn:hover {
                                background-color: #b49771;
                                color: #FFFF;
                                border: 1px solid #AF8B5C;
                            }
                            .btn {
                                font-family: 'Noto Serif HK', serif;
                                border: 1px solid #BE1A0E;
                            }
                            .btn:hover {
                                border: 1px solid #BE1A0E;
                                background-color: #fff;
                                color: #BE1A0E;
                            }
                        }
                    }
                }
            }
        }
    }
}


