//按鈕
.btn {
    background-color: $btnBGC;
    color: #FFFF;
    border-radius: $btnBR;
    padding: 8px 25px;
    border: none;
    cursor: pointer;
}

// input
.input {
    border-radius: $inputBR;
    border: 1px solid #6B380D;
    background-color: #F9F1E5;
}
