//按鈕
.btn {
    background-color: $btnBGC;
    color: #FFFF;
    border-radius: $btnBR;
    padding: 8px 25px;
    border: none;
    cursor: pointer;
}

// input
.input {
    border-radius: $inputBR;
    border: 1px solid #6B380D;
    background-color: #F9F1E5;
}

// 首頁往其他頁面的圓形按鈕
.index-link-button {
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
}